<form method="/pirate" action="post">
  <label for="">Pirate name: </label>
  <input name="pirate[name]" type="text"><br>
  <label for="">Pirate weight: </label>
  <input name="pirate[weight]" type="text"><br>
  <label for="">Pirate height: </label>
  <input name="pirate[height]" type="text"><br>
  <label for="">Ship #1 name: </label>
  <input name="pirate[ships][][name]" type="text"><br>
  <label for="">Ship #1 type: </label>
  <input name="pirate[ships][][type]" type="text"><br>
  <label for="">Ship #1 booty: </label>
  <input name="pirate[ships][][booty]" type="text"><br>
  <label for="">Ship #2 name: </label>
  <input name="pirate[ships][][name]" type="text"><br>
  <label for="">Ship #2 type: </label>
  <input name="pirate[ships][][type]" type="text"><br>
  <label for="">Ship #2 booty: </label>
  <input name="pirate[ships][][booty]" type="text"><br>
</form>
