<form method="/pirate" action="post">
  <label for="">Pirate name: </label>
  <input name="pirate[name]" type="text">
  <label for="">Pirate weight: </label>
  <input name="pirate[weight]" type="text">
  <label for="">Pirate height: </label>
  <input name="pirate[height]" type="text">
  <label for="">Ship name: </label>
  <input name="pirate[ships][][name]" type="text">
  <label for="">Ship type: </label>
  <input name="pirate[ships][][type]" type="text">
  <label for="">Ship booty: </label>
  <input name="pirate[ships][][booty]" type="text">
</form>
